* {
    margin: 0;
    padding: 0;
}
.icone {
    width: 70px;
    background: white;
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: solid white 2px;
    transition: all ease 0.3s;
}
.icone:hover {
    border-color: violet;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(197, 220, 223, 0.465);
    text-align: center;
    font-size: 15px;
}
.container {
    display: flex;
    max-width: 1000;
    margin: 0 auto!important;
    padding: 30px;
    background:rgba(159, 177, 185, 0.63);
}
.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section {
    padding: 20px;
    float: left;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 15%;
}